#projects {
    padding-left: 25%;
    padding-top: 7rem;
    padding-right: 25%;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 10px;
  }
  @media (max-width: 1080px) {
    .projects-grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  
  .projects-card {
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    background-color: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 16px;
  }
  
  .projects-card:hover {
    transform: translateY(-7px);
    background-color: transparent;
    border-color: var(--color-primary);
  }
  
  .card-header {
    margin-top: -20px;
    display: flex;
    padding: 1.25em 0 !important;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none !important;
  }
  .folder-icon {
    color: var(--color-white);
  }
  
  .github-icon {
    margin-top: 6px;
  }
  .github-icon:hover {
    color: var(--color-light);
  }
  
  .open-icon {
    margin-left: 10px;
  }
  
  .card-title {
    color: var(--color-white);
    font-size: 20px;
    font-weight: bold;
  }
  
  .card-desc {
    color: var(--color-light);
    font-size: 18px;
    padding-bottom: 40px;
  }
  
  .card-tech {
    color: var(--color-white);
    font-size: 16px;
  }
  
  @media only screen and (max-width: 600px) {
    #projects {
      height: unset;
      padding-top: 30%;
      padding-left: unset;
      padding-right: unset;
    }
  }